/* src/components/CrimeMap.css */

.crime-map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.maplibre-map {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.map-tooltip {
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.85rem;
  padding: 4px 2px;
  color: #333333;
}

